* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
}

.container {
  position: relative;
  width: 500px;
  padding: 30px;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #111;
  padding-bottom: 70px;
}

.container h1 {
  color: #666;
}

.container .box {
  position: relative;
  width: 100%;
}

.container .box input { 
  position: relative;
  width: 100%;
  background: #222;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  font-size: 1.1em;
}

/* Insira conteudo na div */
.container .fraca::before {
  content: 'Senha Fraca';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 7%;
  transition: 0.8s;
  font-size: small;
  font-weight: 100;
  background: rgb(255, 89, 0);
}
.container .media::before {
  content: 'Senha Média';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 7%;
  transition: 0.8s;
  font-size: small;
  font-weight: 100;
  background:  rgb(255, 162, 0);
}
.container .forte::before {
  content: 'Senha Forte';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7%;
  transition: 0.8s;
  font-size: small;
  font-weight: 100;
  background:  rgb(136, 255, 0);;
}

